---
import  { contentfulClient} from '../lib/contentful';
import {documentToHtmlString} from '@contentful/rich-text-html-renderer';

const entries = await contentfulClient.getEntries({
    content_type: 'homepage',
    limit: 1,
});

const homeData: any = entries.items[0]?.fields || {};

const aboutTitle = homeData.aboutTitle || 'Nosotros';
let aboutImageUrl = '/assets/img/lineasdelocaso.jpg';
if ( homeData.aboutImage?.fields?.file?.url) {
    aboutImageUrl = `https:${homeData.aboutImage.fields.file.url}`;
}

// Procesamos eel texto enriquecido
// convertimos el json de Contentful a html string

const rawRichText = homeData.aboutDescription;
const aboutHtmlString = rawRichText
    ? documentToHtmlString(rawRichText)
    : '<p>Informacion de la banda proximamente.</p>';    
    
---



<section id="nosotros" class="section section-about">
  <div class="main-container">

    

    <div class="about-layout">
    <div class="about-text">
        <h2 class="section-title">{aboutTitle}</h2>
      
        <div class="rich-text-content" set:html={aboutHtmlString}> </div>
    </div>
    <div class="about-flyer">
      <img src={aboutImageUrl} alt="disco tapa">
    </div>
  </div>
  </div>
</section>

<style>
 
.about-layout {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 4rem;
}

.about-text {
    max-width: 720px;
    padding-left: 2rem;
    background: none;
    position: relative;
    z-index: 2;
}

.about-text::before {
    content: '';
    position: absolute;
    left: 0;
 /*Movemos la linea de al lado del texto */
    top: 125px;
    height: 60%;
    width: 2px;
    background-color: white;
}
.about-text .section-title {
    margin-bottom: 1.5rem;
    border: none;
    display: block;
    width: 100%;
    margin-left: -2rem;
    font-family: var(--font-title);
}

.rich-tetx-content {
    font-family: var(--font-body);
    color: white;
    width: 100%;

}
.rich-text-content :global(p) {
    font-family: var(--font-body);
    font-size: 1.05rem;
    letter-spacing: 0.02rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    color: #e0e0e0;
    font-weight: 500;
}

.rich-text-content :global(strong),
.rich-text-content :global(b) {
    color: #fff;
    font-weight: 700;

}

.rich-tetx-content :global(ul) {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.rich-tetx-content :global(li) {
    font-family: var(--font-body);
    margin-bottom: 0.5rem;
    color: white;
}


.about-flyer {
    position: relative;
    margin-top: 4.5rem;
    z-index: 1;
}
.about-flyer img {
    width: 100%;
    max-width: 320px;
    transform: rotate(8deg);
    opacity: 0.3;
    filter:  contrast(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}



@media (max-width: 900px) {
    .about-layout {
        display: block;
        position: relative;
    }

    .about-flyer {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        pointer-events: none;
    }

    .about-text {
        /*position: relative;
        z-index: 1;*/
        background: rgba(0, 0, 0, 0.6);
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    .about-flyer img {
        max-width: 240px;
        opacity: 0.2;
    }
}
</style>
